<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <h3>Retailer Portal - {{currentUser.userid}}</h3>

    <mat-selection-list #shoes >
      <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
        {{shoe}}
      </mat-list-option>
    </mat-selection-list>

    <p>
      Option selected: {{shoes.selectedOptions.selected[0]?.value}}
    </p>
    

  </mat-drawer>
  <mat-drawer-content>

    <span ng-if="shoes.selectedOptions.selected[0]?.value == 'Clogs'">

      <statistics></statistics>
    </span>
    
    
    </mat-drawer-content>
</mat-drawer-container>

<section id="retailer">
  <h3>Retailer Portal - {{currentUser.userid}}</h3>
<!--

  <mat-tab-group>
    <mat-tab label="Dashboard"><dashboard></dashboard></mat-tab>
    <mat-tab label="Supply Chain"><statistics></statistics></mat-tab>
  </mat-tab-group>
</section>-->

