<h3>Create Asset</h3>
<div style="display: table-cell; width: 100vw">
  <div class="formstyle">

    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

      <label style="text-align:left">
        Name:
        <input type="text" formControlName="assetName">
      </label>



      <input type="submit" style="width:100%" value="Create Asset" class="form-button">

    </form>

    <div *ngIf="submitted" class="results">
        <p *ngIf="success; else elseBlock">Asset Created Successfully!</p>
        <ng-template #elseBlock></ng-template>
      </div>
  </div>

