<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title ">Anlegen einer Station</h4>
                  <p class="card-category"> Bitte alle Felder ausfüllen</p>
                </div>
                <div class="card-body">
                  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Name:</span>
                      </div>
                      <input type="text" formControlName="stationName" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>

                    <input type="submit" style="width:100%" value="Station anlegen" class="btn btn-dark">
                  </form>
              
                  <div *ngIf="submitted" class="results">
                      <p *ngIf="success; else elseBlock">Station wurde erfolgreich gespeichert!</p>
                      <ng-template #elseBlock></ng-template>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>

