<!-- LISTE ALLER ACTIVITIES -->
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <!--Liste aller Aktivitäten-->
          <div class="col-md-3">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Auswahl des Assets</h4>
                      <p class="card-category"> Bitte Asset selektieren</p>
                  </div>
                  <div class="card-body">
                    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
                      
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">Name:</span>
                        </div>
                        <label style="text-align:left">                      
                          <select class="form-control" formControlName="assetid" id="assetid">
                            <option *ngFor="let asset of assetList; let i = index" [value]="assetList[i].assetId">
                              {{assetList[i].name}}
                            </option>
                          </select> 
                        </label>
                      </div>
                      <input type="submit" style="width:100%" value="Supply Chain anzeigen" class="btn btn-dark" >
                    </form>
              </div>
          </div>
      </div>

      <!--Liste aller Aktivitäten-->
      <div class="col-md-9">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title ">Supply Chain</h4>
                <p class="card-category"> Hier finden Sie die Lieferkette aller Artikel</p>
            </div>
            <div class="card-body">
              <section id="assets-table">
                <div class="table-div">
                  <mat-form-field class="mat-form-field ng-tns-c26-530 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
                  <table mat-table
                     [dataSource]="activities" multiTemplateDataRows
                     class="mat-elevation-z8">
                    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> 
                        <!-- Manuelle Zuweisung, damit in der Tabelle die Namen in schön stehen -->
                        <span *ngIf="column=='activityId'"> Acitivity ID </span>
                        <span *ngIf="column=='stationId'"> Station </span>
                        <span *ngIf="column=='assetName'"> Asset </span>
                        <span *ngIf="column=='startDate'"> Datum </span>
                        <span *ngIf="column=='user'"> Benutzer </span>
                        <span *ngIf="column=='document'"> Dokument </span>
                      </th>
                      <td mat-cell *matCellDef="let element">
                        <!--Wenn sich die Spalte auf das Dokument bezieht -->
                        <span *ngIf="column=='document' ; else showElement">
                          <!--Wenn Dokument vorhanden-->
                          <span *ngIf="element[column]">
                            <mat-icon aria-hidden="false" aria-label="Custom checkbox" (click)="showPdf(element.document)">picture_as_pdf</mat-icon>
                          </span>
                           <!--Wenn Dokument NICHT vorhanden-->
                          <span *ngIf="!element[column]">
                            <mat-icon aria-hidden="true" aria-label="Custom checkbox">not_interested</mat-icon>
                          </span>
                        </span> 
                        <ng-template #showElement>
                          <span> {{ element[column] }}</span>
                        </ng-template>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;">
                    </tr>
                  </table>
                  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
              </section>   
            </div>
         </div>
      </div>
  </div>
</div>


<!-- DASHBOARD -->
<div *ngIf="!isLoading">
  <div *ngIf="submitted" class="results">
    <div class="main-content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="card card-stats">
                      <div class="card-header card-header-warning card-header-icon">
                          <div class="card-icon">
                              <i class="material-icons">calendar_today</i>
                          </div>
                          <p class="card-category">Lagerdauer</p>
                          <h3 class="card-title">{{diff}}
                              <small>Tage</small>
                          </h3>
                      </div>
                      <div class="card-footer">
                          <div class="stats">
                              <i class="material-icons text-danger">warning</i>
                              <a href="javascript:void(0)">Get More Space...</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="card card-stats">
                      <div class="card-header card-header-success card-header-icon">
                          <div class="card-icon">
                              <i class="material-icons">calendar_today</i>
                          </div>
                          <p class="card-category">Startdatum</p>
                          <h3 class="card-title">{{start}}</h3>
                      </div>
                      <div class="card-footer">
                          <div class="stats">
                              <i class="material-icons">date_range</i> Last 24 Hours
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="card card-stats">
                      <div class="card-header card-header-danger card-header-icon">
                          <div class="card-icon">
                              <i class="material-icons">timer</i>
                          </div>
                          <p class="card-category">Durchschnittliche Lagerdauer</p>
                          <h3 class="card-title">{{avg}}</h3>
                      </div>
                      <div class="card-footer">
                          <div class="stats">
                              <i class="material-icons">local_offer</i> Tracked from Github
                          </div>
                      </div>
                  </div>
              </div>
          </div>      
      </div>
    </div>
  </div>
</div>