
<div style="display: table-cell; width: 100vw">
  <div class="formstyle">

    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

      <label style="text-align:left">
        Asset:
        <select class="form-control" formControlName="assetid" id="assetid">
          <option *ngFor="let asset of assetList; let i = index" [value]="assetList[i].assetId">
            {{assetList[i].name}}
          </option>
        </select> 
      </label>

      <input type="submit" style="width:100%" value="Supply Chain anzeigen" class="form-button">

    </form>
    <div *ngIf="submitted" class="results">
        <p *ngIf="success; else elseBlock">Transaktion erfolgreich!</p>
        <ng-template #elseBlock></ng-template>
    </div>
  </div>
</div>



<section id="assets-table">
  <div class="table-div">
    <mat-form-field class="mat-form-field ng-tns-c26-530 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table
       [dataSource]="activities" multiTemplateDataRows
       class="mat-elevation-z8">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
        <td mat-cell *matCellDef="let element">
          
          <span *ngIf="column=='document' ; else showElement">
            <span *ngIf="element[column]">
              <mat-icon aria-hidden="false" aria-label="Custom checkbox" (click)="showPdf(element.document)">picture_as_pdf</mat-icon>
            </span>
          </span> 
          <ng-template #showElement>
            <span> {{ element[column] }}</span>
          </ng-template>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
    </table>
  </div>
</section>



<button ion-button  (click)="showPdf()">Save</button>

<div class="form-group">
  <label for="file">Choose File</label>
  <input type="file"
         id="file"
         (change)="handleFileInput($event.target.files)">
</div>


<div *ngIf="!isLoading">
  <div *ngIf="submitted" class="results">
    <h1>Statistiken</h1>
    <h2>Lagerdauer: {{diff}}</h2>
    <h2>Startdatum: {{start}}</h2>
    <h2>Average: {{avg}}</h2>
  </div>
</div>

