<h3>Umlagerung</h3>
<div style="display: table-cell; width: 100vw">
  <div class="formstyle">

    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

      <label style="text-align:left">
        Asset:
        <select class="form-control" formControlName="assetId" id="assetId">
          <option *ngFor="let asset of assetList; let i = index" [value]="assetList[i].assetId">
            {{assetList[i].name}}
          </option>
        </select> 
      </label>


      <label style="text-align:left">
        Station:
        <select class="form-control" formControlName="stationId" id="stationId">
          <option *ngFor="let station of stationList; let i = index" [value]="stationList[i].stationId">
            {{stationList[i].name}}
          </option>
        </select> 
      </label>

      <label for="file" style="text-align:left">Beleg (optional)</label>
      <input type="file" id="file" (change)="handleFileInput($event.target.files)">
      
      <input type="submit" style="width:100%" value="Create Activity" class="form-button">

    </form>

    <div *ngIf="submitted" class="results">
        <p *ngIf="success; else elseBlock">Activity Created Successfully!</p>
        <ng-template #elseBlock></ng-template>
      </div>
  </div>

