

  <div class="main-content">
    <div class="container-fluid">
      <div class="row">




        <!-- Anlegen eines Benutzers -->

        <div class="main-content">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12">
                      <div class="card">
                        <div class="card-header card-header-danger">
                          <h4 class="card-title ">Anlegen eines Benutzers</h4>
                          <p class="card-category"> Bitte alle Felder ausfüllen</p>
                        </div>
                        <div class="card-body">

                          <form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
                            


                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Benutzername:</span>
                              </div>
                              <input type="text" formControlName="id" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                              <div *ngIf="submitted && newUserForm.controls.id.errors" class="error">
                                <div *ngIf="newUserForm.controls.id.errors.required">ID is required</div>
                              </div>
                            </div>

                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Passwort:</span>
                              </div>
                              <input type="password" formControlName="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                              <div *ngIf="submitted && newUserForm.controls.password.errors" class="error">
                                <div *ngIf="newUserForm.controls.password.errors.required">Password is required</div>
                              </div>
                            </div>

                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Wied. Passworts:</span>
                              </div>
                              <input type="password" formControlName="confirm_password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                              <div *ngIf="submitted && newUserForm.controls.confirm_password.errors" class="error">
                                <div *ngIf="newUserForm.controls.confirm_password.errors.required">Password confirmation is required</div>
                              </div>
                            </div>


                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Rolle:</span>
                              </div>
                              <select class="form-control" formControlName="usertype" required>
                                <option *ngFor="let r of types" [ngValue]="r">
                                  {{r}}
                                </option>
                              </select> 
                            </div>

                            <input type="submit" style="width:100%" value="Benutzer anlegen" class="btn btn-dark">
                          </form>
                      
                          <div *ngIf="submitted" class="results">
                              <p *ngIf="success; else elseBlock">Benutzer wurde erfolgreich gespeichert!</p>
                              <ng-template #elseBlock></ng-template>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>











        <!--Liste aller User-->
        <div class="col-md-6">
          <div class="card">
              <div class="card-header card-header-danger">
                  <h4 class="card-title ">Benutzer</h4>
                  <p class="card-category"> Hier finden Sie alle Benutzer</p>
              </div>
              <div class="card-body">
                <section id="assets-table">
                  <div class="table-div">
                    <mat-form-field class="mat-form-field ng-tns-c26-530 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                    <table mat-table
                      [dataSource]="allUsers" multiTemplateDataRows
                      class="mat-elevation-z8">
                      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> 
                          <!-- Manuelle Zuweisung, damit in der Tabelle die Namen in schön stehen -->
                          <span *ngIf="column=='id'"> Benutzer ID </span>
                          <span *ngIf="column=='usertype'"> Rolle </span>
                          <span *ngIf="column=='enrolled'"> Enrolled </span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <!--Wenn sich die Spalte auf das Enrollment bezieht -->
                          <span *ngIf="column=='enrolled' ; else showElement">
                            <!--Wenn Enrollment vorhanden-->
                            <span *ngIf="element[column]">
                              <mat-icon aria-hidden="false" aria-label="Custom checkbox">done</mat-icon>
                            </span>
                            <!--Wenn Enrollment NICHT vorhanden-->
                            <span *ngIf="!element[column]">
                              <mat-icon aria-hidden="true" aria-label="Custom checkbox">not_interested</mat-icon>
                            </span>
                          </span> 
                          <ng-template #showElement>
                            <span> {{ element[column] }}</span>
                          </ng-template>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;">
                      </tr>
                    </table>
                    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                  </div>
                </section>   
              </div>
          </div>
        </div>




      </div>
    </div>
  </div>  



